<aside class="lg:w-1/2 bg-blue-500 p-4">
  <ul class="space-y-2">
    <li><%= link_to "Dashboard", authenticated_root_path, class: "block py-2 text-white hover:text-neutral-100" %></li>
    <li><%= link_to "Events", events_path, class: "block py-2 text-white hover:text-neutral-100" %></li>
    <li><%= link_to "Categories", categories_path, class: "block py-2 text-white hover:text-neutral-100" %></li>
  </ul>
</aside>
