<% content_for :content do %>
<div class="p-4 sm:ml-64 mt-8 mb-8">
  <h1 class="font-bold text-4xl mt-8">Edit event</h1>
  <%= render "form", event: @event %>

  <%= link_to "Show this event", @event, class: "ml-2 rounded-lg py-3 px-5 bg-blue-100 inline-block font-medium" %>
 
</div>
<% end %>
<%= render "shared/dashboard" %>