<% content_for :content do %>
<div class="p-4 sm:ml-64 mt-8">
<div class="">
  <h1 class="font-bold text-4xl">New event</h1>

  <%= render "form", event: @event %>

  <%= link_to "Back to events", events_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
</div>
<% end %>
<%= render "shared/dashboard" %>
