<%= render 'shared/navbar' %>
<section class="mb-40">
<div class="max-w-lg mx-auto mt-16 text-center max-w-sm rounded overflow-hidden">
  <div class="flex flex-col items-center">
    <div class="mb-4">
      <%= image_tag("eh-logo.jpeg", width: '100%', height: 'auto', alt: "Event Harbor Logo") %>
    </div>

    <div class="text-center">
      <h1 class="font-bold text-4xl text-blue-500">Welcome To Event Harbor</h1>
    </div>
  </div>
</div>
</section>
