

<div class="md:container md:mx-auto">
 <%= link_to "Sign Up", new_user_registration_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Sign In", new_user_session_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

<div class="float-left w-full aspect-square"> <h1 class="font-bold text-4xl text-blue-500">Welcome To Event Harbor</h1>
<div class="float-right w-full aspect-square"> <%=image_tag("eh-logo.jpeg", width: '100%')%></div>




</div>
