<%= link_to category_path(category), class: "block rounded-lg overflow-hidden shadow-md bg-white p-6 my-4" do %>
  <div class="mb-4">
    <p class="text-lg font-semibold text-gray-800"><%= category.name %></p>
  </div>
  <div class="mb-4 flex items-center justify-center">
    <span class="text-7xl text-primary"><%= category.icon %></span>
  </div>
  <% if action_name == "show" %>
    <div class="mb-4 text-center">
      <p class="text-base text-gray-600"><%= category.description %></p>
    </div>
  <% end %>
<% end %>
